In [1]:
import pandas as pd 
import csv

In [22]:
# Import csv file with total cases and deaths by US state and county
# Data was downloaded from https://www.kaggle.com/imdevskp/corona-virus-report#usa_county_wise.csv
file = "Data/usa_county_wise.csv"
kaggle_df = pd.read_csv(file)
kaggle_df.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,"Guam, US",1/22/20,0,0
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,"Northern Mariana Islands, US",1/22/20,0,0
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,"Puerto Rico, US",1/22/20,0,0
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,"Virgin Islands, US",1/22/20,0,0

In [15]:
# Only keep rows for US states (i.e. remove Guam, Virgin Islands, etc.)
kaggle_us = kaggle_df.loc[kaggle_df["iso2"] == "US",:]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",1/22/20,0,0
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",1/22/20,0,0
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",1/22/20,0,0
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",1/22/20,0,0
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",1/22/20,0,0
10,84001011,US,USA,840,1011.0,Bullock,Alabama,US,32.100305,-85.712655,"Bullock, Alabama, US",1/22/20,0,0
11,84001013,US,USA,840,1013.0,Butler,Alabama,US,31.753001,-86.680575,"Butler, Alabama, US",1/22/20,0,0
12,84001015,US,USA,840,1015.0,Calhoun,Alabama,US,33.774837,-85.826304,"Calhoun, Alabama, US",1/22/20,0,0
13,84001017,US,USA,840,1017.0,Chambers,Alabama,US,32.913601,-85.390727,"Chambers, Alabama, US",1/22/20,0,0
14,84001019,US,USA,840,1019.0,Cherokee,Alabama,US,34.178060,-85.606390,"Cherokee, Alabama, US",1/22/20,0,0

In [16]:
# Remove columns not needed (UID, iso2(country/territory), iso3(country/territory), & code3)
kaggle_rem_cols = kaggle_us[["FIPS", "Admin2","Province_State", "Lat", "Long_", "Combined_Key", "Date", "Confirmed", "Deaths"]]

,FIPS,Admin2,Province_State,Lat,Long_,Combined_Key,Date,Confirmed,Deaths
5,1001.0,Autauga,Alabama,32.539527,-86.644082,"Autauga, Alabama, US",1/22/20,0,0
6,1003.0,Baldwin,Alabama,30.727750,-87.722071,"Baldwin, Alabama, US",1/22/20,0,0
7,1005.0,Barbour,Alabama,31.868263,-85.387129,"Barbour, Alabama, US",1/22/20,0,0
8,1007.0,Bibb,Alabama,32.996421,-87.125115,"Bibb, Alabama, US",1/22/20,0,0
9,1009.0,Blount,Alabama,33.982109,-86.567906,"Blount, Alabama, US",1/22/20,0,0

In [21]:
# Rename columns (Admin 2 to County, Province_State to State, Long_ to Lng)
kaggle_renamed = kaggle_rem_cols.rename(columns={"Admin2":"County", "Province_State":"State", "Long_":"Lng"})
kaggle_renamed.head(40)

,FIPS,County,State,Lat,Lng,Combined_Key,Date,Confirmed,Deaths
5,1001.0,Autauga,Alabama,32.539527,-86.644082,"Autauga, Alabama, US",1/22/20,0,0
6,1003.0,Baldwin,Alabama,30.727750,-87.722071,"Baldwin, Alabama, US",1/22/20,0,0
7,1005.0,Barbour,Alabama,31.868263,-85.387129,"Barbour, Alabama, US",1/22/20,0,0
8,1007.0,Bibb,Alabama,32.996421,-87.125115,"Bibb, Alabama, US",1/22/20,0,0
9,1009.0,Blount,Alabama,33.982109,-86.567906,"Blount, Alabama, US",1/22/20,0,0
10,1011.0,Bullock,Alabama,32.100305,-85.712655,"Bullock, Alabama, US",1/22/20,0,0
11,1013.0,Butler,Alabama,31.753001,-86.680575,"Butler, Alabama, US",1/22/20,0,0
12,1015.0,Calhoun,Alabama,33.774837,-85.826304,"Calhoun, Alabama, US",1/22/20,0,0
13,1017.0,Chambers,Alabama,32.913601,-85.390727,"Chambers, Alabama, US",1/22/20,0,0
14,1019.0,Cherokee,Alabama,34.178060,-85.606390,"Cherokee, Alabama, US",1/22/20,0,0
15,1021.0,Chilton,Alabama,32.850441,-86.717326,"Chilton, Alabama, US",1/22/20,0,0
16,1023.0,Choctaw,Alabama,32.022273,-88.265644,"Choctaw, Alabama, US",1/22/20,0,0
17,1025.0,Clarke,Alabama,31.680999,-87.835486,"Clarke, Alabama, US",1/22/20,0,0
18,1027.0,Clay,Alabama,33.269842,-85.858361,"Clay, Alabama, US",1/22/20,0,0
19,1029.0,Cleburne,Alabama,33.676792,-85.520059,"Cleburne, Alabama, US",1/22/20,0,0
20,1031.0,Coffee,Alabama,31.399328,-85.989010,"Coffee, Alabama, US",1/22/20,0,0
21,1033.0,Colbert,Alabama,34.698475,-87.801685,"Colbert, Alabama, US",1/22/20,0,0
22,1035.0,Conecuh,Alabama,31.434017,-86.993200,"Conecuh, Alabama, US",1/22/20,0,0
23,1037.0,Coosa,Alabama,32.936901,-86.248477,"Coosa, Alabama, US",1/22/20,0,0
24,1039.0,Covington,Alabama,31.247785,-86.450509,"Covington, Alabama, US",1/22/20,0,0
25,1041.0,Crenshaw,Alabama,31.729418,-86.315931,"Crenshaw, Alabama, US",1/22/20,0,0
26,1043.0,Cullman,Alabama,34.130203,-86.868880,"Cullman, Alabama, US",1/22/20,0,0
27,1045.0,Dale,Alabama,31.430371,-85.610957,"Dale, Alabama, US",1/22/20,0,0
28,1047.0,Dallas,Alabama,32.326881,-87.108667,"Dallas, Alabama, US",1/22/20,0,0
29,1049.0,DeKalb,Alabama,34.459469,-85.807829,"DeKalb, Alabama, US",1/22/20,0,0
30,1051.0,Elmore,Alabama,32.597854,-86.144153,"Elmore, Alabama, US",1/22/20,0,0
31,1053.0,Escambia,Alabama,31.125679,-87.159187,"Escambia, Alabama, US",1/22/20,0,0
32,1055.0,Etowah,Alabama,34.045673,-86.040519,"Etowah, Alabama, US",1/22/20,0,0
33,1057.0,Fayette,Alabama,33.720769,-87.738866,"Fayette, Alabama, US",1/22/20,0,0
34,1059.0,Franklin,Alabama,34.442353,-87.842895,"Franklin, Alabama, US",1/22/20,0,0
35,1061.0,Geneva,Alabama,31.093890,-85.835728,"Geneva, Alabama, US",1/22/20,0,0
36,1063.0,Greene,Alabama,32.855042,-87.956840,"Greene, Alabama, US",1/22/20,0,0
37,1065.0,Hale,Alabama,32.760393,-87.632850,"Hale, Alabama, US",1/22/20,0,0
38,1067.0,Henry,Alabama,31.511480,-85.242679,"Henry, Alabama, US",1/22/20,0,0
39,1069.0,Houston,Alabama,31.151979,-85.299396,"Houston, Alabama, US",1/22/20,0,0
40,1071.0,Jackson,Alabama,34.781442,-85.997505,"Jackson, Alabama, US",1/22/20,0,0
41,1073.0,Jefferson,Alabama,33.555547,-86.895063,"Jefferson, Alabama, US",1/22/20,0,0
42,1075.0,Lamar,Alabama,33.779950,-88.096680,"Lamar, Alabama, US",1/22/20,0,0
43,1077.0,Lauderdale,Alabama,34.901719,-87.656247,"Lauderdale, Alabama, US",1/22/20,0,0
44,1079.0,Lawrence,Alabama,34.520415,-87.310695,"Lawrence, Alabama, US",1/22/20,0,0