In [1]:
from covid19_healthdata_scraper import covid19_healthdata_scrape, covid19_healthdate_dates_bystate, covid19_healthdate_resources_bystate
from states import us_states_list as us_states
import pandas as pd

In [4]:
for state in us_states:
    covid19_healthdata_scrape(state)

In [5]:
policydates_df = pd.DataFrame(covid19_healthdate_dates_bystate)

In [6]:
resource_df = pd.DataFrame(covid19_healthdate_resources_bystate)

In [7]:
policydates_df.to_csv('policydates.csv')

In [8]:
resource_df.to_csv('resources.csv')

In [9]:
columns = policydates_df.columns
columns = columns[1:]
columns

Index(['Mass Gathering Restriction', 'Initual Business Closure',
       'Educational Facilities Closure', 'Non-Essential Services Closure',
       'Stay at Home Order', 'Travel severely limited'],
      dtype='object')

In [11]:

for x in columns:
    for y in range(len(us_states)):
        try:
            policydates_df[x][y] = pd.to_datetime(policydates_df[x][y], format='%B %d, %Y')
        except ValueError:
            policydates_df[x][y] = policydates_df[x][y].replace('Not implemented', 'NaN')

In [12]:
policydates_df

,state,Mass Gathering Restriction,Initual Business Closure,Educational Facilities Closure,Non-Essential Services Closure,Stay at Home Order,Travel severely limited
0,Alabama,2020-03-19 00:00:00,2020-03-19 00:00:00,2020-03-19 00:00:00,2020-03-28 00:00:00,2020-04-04 00:00:00,NaN
1,Alaska,2020-03-24 00:00:00,2020-03-17 00:00:00,2020-03-16 00:00:00,2020-03-28 00:00:00,2020-03-28 00:00:00,NaN
2,Arizona,2020-03-30 00:00:00,NaN,2020-03-16 00:00:00,NaN,2020-03-30 00:00:00,NaN
3,Arkansas,2020-03-27 00:00:00,2020-03-19 00:00:00,2020-03-17 00:00:00,NaN,NaN,NaN
4,California,2020-03-11 00:00:00,2020-03-19 00:00:00,2020-03-19 00:00:00,2020-03-19 00:00:00,2020-03-19 00:00:00,NaN
5,Colorado,2020-03-19 00:00:00,2020-03-17 00:00:00,2020-03-23 00:00:00,2020-03-26 00:00:00,2020-03-26 00:00:00,NaN
6,Connecticut,2020-03-12 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-23 00:00:00,NaN,NaN
7,Delaware,2020-03-16 00:00:00,2020-03-16 00:00:00,2020-03-16 00:00:00,2020-03-24 00:00:00,2020-03-24 00:00:00,NaN
8,Florida,2020-04-03 00:00:00,2020-03-17 00:00:00,2020-03-17 00:00:00,NaN,2020-04-03 00:00:00,NaN
9,Georgia,2020-03-24 00:00:00,2020-03-24 00:00:00,2020-03-18 00:00:00,NaN,2020-04-03 00:00:00,NaN
10,Hawaii,2020-03-17 00:00:00,2020-03-17 00:00:00,2020-03-19 00:00:00,2020-03-25 00:00:00,2020-03-25 00:00:00,NaN
11,Idaho,2020-03-25 00:00:00,2020-03-25 00:00:00,2020-03-23 00:00:00,2020-03-25 00:00:00,2020-03-25 00:00:00,NaN
12,Illinois,2020-03-13 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-21 00:00:00,2020-03-21 00:00:00,NaN
13,Indiana,2020-03-12 00:00:00,2020-03-16 00:00:00,2020-03-19 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,NaN
14,Iowa,2020-03-17 00:00:00,2020-03-17 00:00:00,2020-04-04 00:00:00,NaN,NaN,NaN
15,Kansas,2020-03-17 00:00:00,NaN,2020-03-17 00:00:00,NaN,2020-03-30 00:00:00,NaN
16,Kentucky,2020-03-19 00:00:00,2020-03-16 00:00:00,2020-03-20 00:00:00,2020-03-26 00:00:00,NaN,NaN
17,Louisiana,2020-03-13 00:00:00,2020-03-17 00:00:00,2020-03-16 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,NaN
18,Maine,2020-03-18 00:00:00,2020-03-18 00:00:00,2020-03-16 00:00:00,2020-03-25 00:00:00,2020-04-02 00:00:00,NaN
19,Maryland,2020-03-16 00:00:00,2020-03-16 00:00:00,2020-03-16 00:00:00,2020-03-23 00:00:00,2020-03-30 00:00:00,NaN
20,Massachusetts,2020-03-13 00:00:00,2020-03-17 00:00:00,2020-03-17 00:00:00,2020-03-24 00:00:00,NaN,NaN
21,Michigan,2020-03-13 00:00:00,2020-03-16 00:00:00,2020-03-16 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,NaN
22,Minnesota,2020-03-24 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00,NaN,2020-03-27 00:00:00,NaN
23,Mississippi,2020-03-24 00:00:00,2020-03-24 00:00:00,2020-03-19 00:00:00,2020-04-03 00:00:00,2020-04-03 00:00:00,NaN
24,Missouri,2020-03-23 00:00:00,2020-03-23 00:00:00,2020-03-23 00:00:00,NaN,2020-04-06 00:00:00,NaN
25,Montana,2020-03-24 00:00:00,2020-03-20 00:00:00,2020-03-15 00:00:00,2020-03-26 00:00:00,2020-03-26 00:00:00,NaN
26,Nebraska,2020-03-16 00:00:00,2020-03-19 00:00:00,2020-04-02 00:00:00,NaN,NaN,NaN
27,Nevada,2020-03-24 00:00:00,2020-03-18 00:00:00,2020-03-16 00:00:00,2020-03-21 00:00:00,2020-03-31 00:00:00,NaN
28,New Hampshire,2020-03-16 00:00:00,2020-03-16 00:00:00,2020-03-16 00:00:00,2020-03-28 00:00:00,2020-03-27 00:00:00,NaN
29,New Jersey,2020-03-16 00:00:00,2020-03-16 00:00:00,2020-03-18 00:00:00,2020-03-21 00:00:00,2020-03-21 00:00:00,NaN
30,New Mexico,2020-03-12 00:00:00,2020-03-16 00:00:00,2020-03-13 00:00:00,2020-03-24 00:00:00,NaN,NaN
31,New York,2020-03-12 00:00:00,2020-03-16 00:00:00,2020-03-18 00:00:00,2020-03-22 00:00:00,2020-03-22 00:00:00,NaN
32,North Carolina,2020-03-14 00:00:00,2020-03-17 00:00:00,2020-03-14 00:00:00,2020-03-30 00:00:00,2020-03-30 00:00:00,NaN
33,North Dakota,NaN,2020-03-20 00:00:00,2020-03-16 00:00:00,NaN,NaN,NaN
34,Ohio,2020-03-12 00:00:00,2020-03-15 00:00:00,2020-03-16 00:00:00,2020-03-23 00:00:00,2020-03-23 00:00:00,NaN
35,Oklahoma,2020-03-24 00:00:00,2020-04-01 00:00:00,2020-03-17 00:00:00,2020-04-01 00:00:00,NaN,NaN
36,Oregon,2020-03-12 00:00:00,2020-03-17 00:00:00,2020-03-16 00:00:00,NaN,2020-03-23 00:00:00,NaN
37,Pennsylvania,2020-04-01 00:00:00,2020-03-18 00:00:00,2020-03-17 00:00:00,2020-03-23 00:00:00,2020-04-01 00:00:00,NaN
38,Rhode Island,2020-03-17 00:00:00,2020-03-17 00:00:00,2020-03-16 00:00:00,NaN,2020-03-28 00:00:00,NaN
39,South Carolina,2020-03-18 00:00:00,2020-03-18 00:00:00,2020-03-16 00:00:00,NaN,2020-04-07 00:00:00,NaN
40,South Dakota,2020-04-06 00:00:00,NaN,2020-03-16 00:00:00,NaN,NaN,NaN
41,Tennessee,2020-03-23 00:00:00,2020-03-23 00:00:00,2020-03-20 00:00:00,2020-04-01 00:00:00,2020-04-02 00:00:00,NaN
42,Texas,2020-03-21 00:00:00,2020-03-21 00:00:00,2020-03-19 00:00:00,NaN,2020-04-02 00:00:00,NaN
43,Utah,2020-03-19 00:00:00,2020-03-19 00:00:00,2020-03-16 00:00:00,NaN,NaN,NaN
44,Vermont,2020-03-13 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-25 00:00:00,2020-03-24 00:00:00,NaN
45,Virginia,2020-03-15 00:00:00,2020-03-17 00:00:00,2020-03-16 00:00:00,2020-03-24 00:00:00,2020-03-30 00:00:00,NaN
46,Washington,2020-03-11 00:00:00,2020-03-16 00:00:00,2020-03-13 00:00:00,2020-03-25 00:00:00,2020-03-23 00:00:00,NaN
47,West Virginia,2020-03-24 00:00:00,2020-03-18 00:00:00,2020-03-14 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,NaN
48,Wisconsin,2020-03-17 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00,2020-03-25 00:00:00,2020-03-25 00:00:00,NaN
49,Wyoming,2020-03-20 00:00:00,2020-03-19 00:00:00,2020-03-19 00:00:00,NaN,NaN,NaN

In [13]:
resource_df

,Hospital Beds Needed,Hospital Beds Available,Hospital Beds Shortage,ICU Beds Needed,ICU Beds Available,ICU Beds Shortage,Ventilators Needed
0,318,5744,0,102,475,0,95
1,30,683,0,7,54,0,6
2,439,6018,0,122,508,0,111
3,87,5006,0,25,395,0,22
4,2503,26654,0,690,1994,0,640
5,687,4852,0,197,555,0,180
6,3502,1739,1763,952,100,852,863
7,206,696,0,59,41,18,54
8,1479,20184,0,427,1696,0,390
9,2098,8323,0,557,590,0,498
10,30,957,0,10,45,0,9
11,108,1818,0,27,151,0,26
12,2770,14552,0,777,1131,0,700
13,1176,8485,0,318,706,0,286
14,268,4297,0,81,247,0,73
15,191,4811,0,56,279,0,52
16,504,6210,0,142,449,0,129
17,2235,7205,0,671,477,194,607
18,76,1062,0,21,64,0,19
19,2802,3961,0,678,266,412,616
20,2515,4849,0,1020,277,743,1020
21,4281,10155,0,1256,743,513,1147
22,340,4984,0,92,355,0,85
23,451,5733,0,122,341,0,112
24,406,7933,0,108,559,0,98
25,30,1670,0,7,85,0,7
26,283,3130,0,84,233,0,76
27,322,2248,0,89,183,0,83
28,94,1019,0,27,84,0,24
29,9124,7815,1309,2750,466,2284,2531
30,145,1753,0,36,117,0,33
31,19836,13011,6825,6188,718,5470,5819
32,605,7126,0,160,568,0,149
33,192,1545,0,61,87,0,56
34,1093,14291,0,315,1239,0,287
35,300,5458,0,87,467,0,80
36,129,2658,0,34,210,0,31
37,4319,14395,0,1257,1044,213,1162
38,728,795,0,215,42,173,196
39,253,4680,0,68,405,0,63
40,87,1806,0,26,74,0,24
41,237,7812,0,70,629,0,65
42,1294,28634,0,351,2260,0,316
43,342,2771,0,90,171,0,79
44,56,533,0,14,34,0,14
45,984,6581,0,261,329,0,235
46,925,4907,0,254,341,0,232
47,76,3032,0,20,196,0,19
48,381,5365,0,106,173,0,97
49,385,1069,0,103,45,58,96